# Movies Recommendation System
First attempt to create a recommendation system using a fairly large dataset but due to less computing power changed the dataset to smaller version.

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("ml-latest/movies.csv")
movies.head

<bound method NDFrame.head of        movieId                                              title  \
0            1                                   Toy Story (1995)
1            2                                     Jumanji (1995)
2            3                            Grumpier Old Men (1995)
3            4                           Waiting to Exhale (1995)
4            5                 Father of the Bride Part II (1995)
...        ...                                                ...
86532   288967               State of Siege: Temple Attack (2021)
86533   288971                                 Ouija Japan (2021)
86534   288975   The Men Who Made the Movies: Howard Hawks (1973)
86535   288977                    Skinford: Death Sentence (2023)
86536   288983  UNZIPPED: An Autopsy of American Inequality (2...

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
86532                                 Action|Drama
86533                                Action|Horror
86534                                  Documentary
86535                               Crime|Thriller
86536                                  Documentary

[86537 rows x 3 columns]>

In [3]:
ratings = pd.read_csv("ml-latest/ratings.csv")
ratings.head

<bound method NDFrame.head of           userId  movieId  rating   timestamp
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
33832157  330975     8340     2.0  1091583256
33832158  330975     8493     2.5  1091585709
33832159  330975     8622     4.0  1091581777
33832160  330975     8665     3.0  1091581765
33832161  330975     8783     2.5  1091581799

[33832162 rows x 4 columns]>

In [4]:
movies.shape

(86537, 3)

In [5]:
ratings.shape

(33832162, 4)

In [6]:
print(movies.isnull().sum())   # Check null values in movies.csv

movieId    0
title      0
genres     0
dtype: int64

In [7]:
print(ratings.isnull().sum())  # Check null values in ratings.csv

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [8]:
df = ratings.merge(movies, on="movieId", how="inner")
df.head

<bound method NDFrame.head of           userId  movieId  rating   timestamp  \
0              1        1     4.0  1225734739
1              1      110     4.0  1225865086
2              1      158     4.0  1225733503
3              1      260     4.5  1225735204
4              1      356     5.0  1225735119
...          ...      ...     ...         ...
33832157  330975     8340     2.0  1091583256
33832158  330975     8493     2.5  1091585709
33832159  330975     8622     4.0  1091581777
33832160  330975     8665     3.0  1091581765
33832161  330975     8783     2.5  1091581799

                                              title  \
0                                  Toy Story (1995)
1                                 Braveheart (1995)
2                                     Casper (1995)
3         Star Wars: Episode IV - A New Hope (1977)
4                               Forrest Gump (1994)
...                                             ...
33832157                Escape from Alcatraz (1979)
33832158                       Memphis Belle (1990)
33832159                     Fahrenheit 9/11 (2004)
33832160               Bourne Supremacy, The (2004)
33832161                        Village, The (2004)

                                               genres
0         Adventure|Animation|Children|Comedy|Fantasy
1                                    Action|Drama|War
2                                  Adventure|Children
3                             Action|Adventure|Sci-Fi
4                            Comedy|Drama|Romance|War
...                                               ...
33832157                               Drama|Thriller
33832158                             Action|Drama|War
33832159                                  Documentary
33832160                        Action|Crime|Thriller
33832161                       Drama|Mystery|Thriller

[33832162 rows x 6 columns]>

In [9]:
df = df.drop(columns=["timestamp"])
df.head

<bound method NDFrame.head of           userId  movieId  rating                                      title  \
0              1        1     4.0                           Toy Story (1995)
1              1      110     4.0                          Braveheart (1995)
2              1      158     4.0                              Casper (1995)
3              1      260     4.5  Star Wars: Episode IV - A New Hope (1977)
4              1      356     5.0                        Forrest Gump (1994)
...          ...      ...     ...                                        ...
33832157  330975     8340     2.0                Escape from Alcatraz (1979)
33832158  330975     8493     2.5                       Memphis Belle (1990)
33832159  330975     8622     4.0                     Fahrenheit 9/11 (2004)
33832160  330975     8665     3.0               Bourne Supremacy, The (2004)
33832161  330975     8783     2.5                        Village, The (2004)

                                               genres
0         Adventure|Animation|Children|Comedy|Fantasy
1                                    Action|Drama|War
2                                  Adventure|Children
3                             Action|Adventure|Sci-Fi
4                            Comedy|Drama|Romance|War
...                                               ...
33832157                               Drama|Thriller
33832158                             Action|Drama|War
33832159                                  Documentary
33832160                        Action|Crime|Thriller
33832161                       Drama|Mystery|Thriller

[33832162 rows x 5 columns]>

In [ ]:
chunk_size = 10000  # Adjust based on memory
df_chunks = [df[i:i + chunk_size] for i in range(0, df.shape[0], chunk_size)]

df_encoded_chunks = []
for chunk in df_chunks:
    df_genres = chunk['genres'].str.get_dummies('|')
    chunk = pd.concat([chunk, df_genres], axis=1)
    chunk.drop(columns=['genres'], inplace=True)
    df_encoded_chunks.append(chunk)

df = pd.concat(df_encoded_chunks, ignore_index=True)